
.start-screen-form {
    font-size: 18px;
    font-weight: 400;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
    background-color: #304056;
    padding: 20px;
    border-radius: 20px;
}

.field-size-inputa-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name-input, .timer-input {
    font-size: 15px;
    border-radius: 20px;
    height: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #1a2530;
    background: #2a3647;
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.05);
}

.field-size-input-area select {
    font-size: 15px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #1a2530;
    background: #2a3647;
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    height: 30px;
    color: white;
}

.name-input:focus, .timer-input:focus {
    outline: none;
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.4),
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),
        0 0 0 2px rgba(74, 144, 226, 0.3);
}

.play-button {
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: rgba(181, 177, 177, 0.87);
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),
        0 4px 8px rgba(0, 0, 0, 0.2);
}

