
.start-screen-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
}

.field-size-inputa-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.field-size-input {
    width: 40px;
}

